body {
  background: #111;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

#board {
  width: 320px;
  height: 320px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border: 4px solid white;
}

.square {
  width: 40px;
  height: 40px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  background: #f0d9b5;
}

.black {
  background: #b58863;
}

.white-piece {
  color: white;
}

.black-piece {
  color: black;
}
