body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

/* Board container */
#board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
  width: 480px;
  margin: 20px auto;
  border: 2px solid black;
}

/* Board squares */
.square {
  width: 60px;
  height: 60px;
  font-size: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Square colors */
.white {
  background: #f0f0f0;
}

.black {
  background: #666;
}

/* Piece colors */
.white-piece {
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.black-piece {
  color: black;
  text-shadow:
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}

/* Selected square */
.selected {
  outline: 3px solid red;
}
